@font-face {
    font-family: odin-norse;
    src: url(fonts/Norse-Bold.otf);
}

h1,
body,
p{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    height: 100vh;
}
section{
    outline: solid black;
    flex: 1;
}

#logo-section{
    background-image: url(images/halie-west-UWni0vqQotc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0.5;
    display: flex;
    flex-direction: column;
}

#signup-section{
    display: flex;
    flex-direction: column;
}

p,
div{
    outline: dashed black;
    flex: 1;
}

#logo-container{
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: odin-norse;
    font-size: 80px;
    margin-top: 150px;
}

span{
    display: flex;
    width: 150px;
    height: 135px;
    align-items: center;
    margin-top: 10px;
}

#odin-logo{
    width: 100px;
    height: 135px;
}

#photo-cred{
    flex: 0;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}