@font-face {
    font-family: odin-norse;
    src: url(fonts/Norse-Bold.otf);
}

ul,
h1,
html,
body,
p{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    min-height: 100vh;
}

#logo-section{
    background-image: url(images/halie-west-UWni0vqQotc-unsplash-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

#signup-section{
    width: 60vw;
    display: flex;
    flex-direction: column;
}

p,
div{
    /* outline: dashed black; */
    flex: 1;
}

#logo-container{
    flex: 0;
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: odin-norse;
    font-size: 80px;
    background-color: rgba(0, 0, 0, 0.44);
    position: relative;
    top: 225px;
}

span{
    display: flex;
    width: 150px;
    height: 135px;
    align-items: center;
    margin-top: 10px;
}

#odin-logo{
    width: 100px;
    height: 135px;
}

footer{
    text-align: center;
    color: white;
    margin-bottom: 16px;
    font-size: 16px;
    opacity: 0.2;
    margin-top: auto;
}

.div-style-1{
    background-color: rgb(240, 240, 240);
}

#pitch-div{
    display: flex;
    align-items: flex-end;
    width: 100%;
}

p{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    margin-bottom: 75px;
    font-family: Verdana, sans-serif;
}

#pitch-div p{
    margin-left: 50px;  
    margin-top: 150px;
}

#form-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 3px #515151;;
    position: relative;
}

form{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#form-container p{
    margin-left: 0px;  
    margin-top: 35px;
    margin-bottom: 35px;
    flex: 0;
}

#row-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.row-wrapper{
    display: flex;
    gap: 50px;
    flex: 1;
}

.row-item{
    flex: 1;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

input{
    height: 19px;
}

input:focus{
    color: green;
}

button{
    margin-left: 50px;
    margin-top: 35px;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 5px;
    color: black;
    background-color: rgba(162,125,71,255);
}

#account-div p{
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 16px;
}
